@import url('./style-global.css');
/* Contenedor principal que ocupa toda la pantalla */
.container {
    width: 100%; /* Ocupa el 100% del ancho */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    display: grid;
    grid-template-rows: auto 1fr; /* Divide en dos filas: header y el contenido principal */
    background: white;
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: space-between; /* Espacia los elementos en el header */
    align-items: center;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    height: 17vh;
    background: var(--primary-color); /* Color de fondo del encabezado */
    color: var(--background-color); /* Color del texto */
    position: relative;
}

/* Línea divisoria en el header */
header::after {
    content: "";
    position: absolute;
    left: 66.4%; /* Ajusta para coincidir con la división de abajo */
    top: 0;
    height: 100%;
    width: 4px;
}
.container-header {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Alinea verticalmente */
    padding: 10px 20px; /* Espaciado interno */
    width: 100%;
}

.bienvenida {
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    flex: 1;
}

.logo {
    text-align: right; /* Alinea el contenido a la derecha */
    flex: 1;
}


/* Estilos del nombre de usuario */
.company {
    font-size: 20px;
    font-weight: bold;
    color: var(--background-color);
}

/* Estilos del subtítulo */
.sub-title {
    font-size: 2em;
    padding: 1em 0em;
    color: var(--text-color);
}

/* Contenedor principal dividido en dos columnas */
main {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Dos columnas: izquierda más grande que la derecha */
    height: 100%;
}

/* Sección izquierda (Punto de venta) */
.left-section {
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2em;
    padding: 2em;
}

.right-section {
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2em;
    padding: 2em;
}

/* Estilos para las grillas */
.grid {
    display: grid;
    gap: 1em;
    justify-items: center;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
}

/* Estilos de los botones (Punto de venta y Mantenimiento) */
.item, .user {
    text-align: center;
    padding: 1em;
    cursor: pointer;
    width: 20em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.item {
    height: 9.2em;
}

/* Botón de usuario con un tamaño más pequeño */
.user {
    width: 12em;
    height: 7em;
}

/* Estilos de los iconos dentro de los botones */
i {
    padding: 0.5em;
    font-size: 2em;
}

/* Efecto de escala al pasar el mouse */
.item:hover, .user:hover {
    transform: scale(1.05);
}

/* Estilos de las imágenes dentro de los botones */
.item img, .user img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5em;
}

/* Estilos del texto dentro de los botones */
.item p, .user p {
    font-size: 1.2em;
    color: var(--text-color);
    font-weight: bold;
}

/* Sección de mantenimiento */
.mantenimiento {
    padding: 2em;
}

.mantenimiento .grid {
    grid-template-columns: repeat(2, 1fr); /* Cuatro secciones en dos columnas */
    gap: 1em;
}

/* Estilos del footer desarrollado */
.desarrollado {
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    width: 14em;
    height: 3em;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    color: white;
    border-radius: 10px 0 0 0;
}
